/* Fonts */

* {
  color: #444;
  font-family: "Raleway", sans-serif !important;
  font-weight: 300;
  box-sizing: border-box;
  vertical-align: middle;
  text-shadow: none;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
}

.material-icons {
  font-family: "Material Icons" !important;
  font-size: 36px;
  line-height: 2em;
  padding-left: 10px;
}

.material-icons:hover {
  cursor: pointer;
  text-shadow: 3px 1px 2px rgba(158, 158, 158, 0.76);
}

/* Info window formatting */

.iw-place-name,
.iw-place-type {
  display: inline;
  vertical-align: baseline;
}

.iw-place-address,
#iw-notes {
  margin: 5px 0;
}

/* Dimensions, padding and margins */

body {
  width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}

.ui-page {
  width: 100vw;
  height: 100vh;
}

.ui-content {
  padding: 0;
}

/* Side panels */

.panel-opener-left {
  left: 8px;
  z-index: 1000;
}

.panel-opener-right {
  right: 20px;
  z-index: 1001;
}

.panel-opener {
  position: fixed;
  top: 0;
}

#left-panel,
#right-panel {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: fixed;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  line-height: 2em;
  background-color: #e3eaef;
  border-right: 1px solid #b6c9d9;
  padding: 15px;
}

#left-panel {
  left: -300px;
  z-index: 2000;
}

#right-panel {
  right: -300px;
  z-index: 2001;
  /* Changing direction allows to display the scrollbar on the left side of the right panel for symmetry. In the .panel-box this property is reset. */
  direction: rtl;
}

.panel-box {
  direction: ltr;
}

.pac-container {
  z-index: 4000;
}

.coa {
  width: 50px;
  height: 60px;
  float: left;
  margin-right: 16px;
}

#places-list {
  margin-top: 5px;
}

/* Show/Hide my location */

.ui-controlgroup-controls {
  width: 100%;
}

#my-location-hide,
#my-location-show {
  width: 50%;
}

#filter-only {
  margin-top: 0;
}

/* Info Window elements */

#iw-pano-photos-share {
  margin-bottom: 5px;
}

#iw-pano-photos-btn {
  margin: 5px 20px 5px 0;
}

#iw-panorama {
  width: 70vw;
  height: 60vh;
  /* Despite the maxWidth of info window being set at 100vw, it seems to be limited at 700+ px, so we have to limit the width of panorama and photos to prevent horizontal scrolling */
  max-width: 600px;
  text-align: center;
  background-color: white !important;
}

.iw-photo {
  margin: auto;
  max-width: 600px;
  max-height: 60vh;
}

.iw-preloader {
  margin-top: 25vh;
}
/* Appended to body (not displayed),
inner HTML is used in info windows */
#iw-facebook {
  display: none;
}

iframe {
  visibility: visible !important;
  max-height: 30px;
}

/* Scrollbar (see https://css-tricks.com/examples/WebKitScrollbars/) */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0,90,200,0.5);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(80,90,200,0.3);
}
